*{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 
}
body::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn */
}


.nav-item{
color: white;

}

.container-fluid{
    background-color:black;
    color: antiquewhite;
}

::selection {
  background-color: #5e5d5d; 
  color: white;           
} 

.form{
  padding: 3rem;
  border-radius:9px;
}
.tick{
  /* margin: 5rem; */
}
.btn{
  color: antiquewhite;
  background-color: #5e5d5d;
  border: 1px solid #5e5d5d;
}
.btn:hover{
  color: #5e5d5d;
  background-color: antiquewhite;
  border: 1px solid antiquewhite;
}